<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <h1>CLASSIFICADOR DE FILMES </h1>
{%for movie in movie %}
    <h2>Título:{{movie.name}}Duração:{{movie.duration}} 
        <a href="/deleteMovie/{{movie.id}}/"><button>Deletar</button></a>
        <a href="/update/{{movie.id}}/"><button>Atualizar</button></a> 
    </h2>
    {%endfor%}

    <div>
    <!-- Botão para acionar modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo">
    ADICIONAR FILME
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">CADASTRO DE NOVO FILME</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/addMovie/" method="POST">
                {% csrf_token %}
                <label for="fname">Nome:</label><br>
                <input type="text" id="fname" name="fname"><br>
                <label for="fduration">Duração:</label><br>
                <input type="text" id="fduration" name="fduration"><br> 
                   <input type="submit" value="ADICIONAR">   
                  <!-- <button type="submit" id="add" >ADD </button>   -->
              </form> 
             
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary">Salvar mudanças</button>
        </div>  -->
      </div>
    </div>
  </div>

</div>
    
<!-- Scripts AJAX -->
<script>
  function deleteMovie(id){
    var result = confirm("Tem certeza?");
    if(result){
      $.ajax({
            'type': 'POST',
            'url': '/deleteFilme/'+id+'/',
            'contentType': 'application/json',
            headers:{
                "X-CSRFToken": '{{ csrf_token }}',
            },
            'data': {
            },
            'dataType': 'json',
        success: function (data) {
          document.getElementById(id).remove();
        },
        error: function (error) {
            console.log(`Error ${error}`);
        }
        });
      }
  }
  
  function showModalAdd(){
      $('#exampleModalLong').modal('show');
      document.getElementById("fnome").value = ""
      document.getElementById("fduracao").value = ""
      $('#form').attr('action', 'http://127.0.0.1:8000/addFilme/');
    }
  function showModalEdit(id){
      $.ajax({
          'type': 'POST',
          'url': '/getMovieInfo/'+id+'/',
          'contentType': 'application/json',
          headers:{
              "X-CSRFToken": '{{ csrf_token }}',
          },
          'data': {
          },
          'dataType': 'json',
      success: function (data) {
        nomeDoFilme = data.nome;
        duracaoDoFilme = data.duracao;
        $('#exampleModalLong').modal('show');
        document.getElementById("fnome").value = nomeDoFilme
        document.getElementById("fduracao").value = duracaoDoFilme
        $('#form').attr('action', 'http://127.0.0.1:8000/editFilme/'+id+'/');
      },
      error: function (error) {
          console.log(`Error ${error}`);
      }
      });
  }
</script> 

      <!--Scripts do Bootstrap -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>