<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Página inicial </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>


  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">    
</head>

<body>
<!--Barra de navegação -->
<section>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <!-- Navbar Brand (se necessário) -->
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->

      <!-- Toggler Button for Mobile View -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Links and Form -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Início <span class="sr-only">(página inicial)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{ user.username }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="profile/">Perfil</a>
              <a class="dropdown-item" href="/logout">Sair</a>
            </div>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          {% endif %}
        </ul>

        <!-- Search Form -->
        <form class="form-inline my-2 my-lg-0 ml-auto" action="/search/" method="post">
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar" name="search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>
      </div>
    </div>
  </nav>
</section>


  <h1 class="text-center mt-5">CLASSIFICADOR DE FILMES </h1>

  <section>
    {%for search in search%}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../media/{{movie.image}}" alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-title">{{search.name}} </h2>
        <p class="card-text">Duração - {{search.duration}} </p>
        <p class="card-text">Classificação - {{search.average_evaluation|default:0}} </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="http://127.0.0.1:8000/getMovie/{{search.id}}"> Visualizar </a> </li>
        {% if user.is_superuser%}
        <li class="list-group-item">
          <button type="button" class="btn btn-primary" onclick="updateMovie('{{search.id}}')">
            ATUALIZAR
          </button>   
              </li>
        <li class="list-group-item">
          <button type="button" class="btn btn-primary" onclick="deleteMovie('{{search.id}}')">
            DELETAR
          </button>   
              </li>
        {%endif%}
      </ul>
      <div class="card-body">
        <!-- <a href="#" class="card-link">Gostei</a><br>
      <a href="#" class="card-link">Não gostei </a> -->
      </div>
    </div>
    {%endfor%}
  </section>


  
  

  {%for movie in movie %}
  <section class="card-container">
  <div id="{{movie.id}}" class="card" style="width: 18rem;">
    <img class="card-img-top" src="../media/{{movie.image}}" alt="{{movie.name}}">
    <div class="card-body">
      <h2 class="card-title">{{movie.name}} </h2>
      <p class="card-text">Duração - {{movie.duration}} </p>
      <p class="card-text">Classificação - {{movie.average_evaluation|default:0}}  de 5</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="http://127.0.0.1:8000/getMovie/{{movie.id}}"> Visualizar </a> </li>
      {%if user.is_superuser %}
      <li class="list-group-item">
        <button type="button" class="btn btn-primary" onclick="updateMovie('{{movie.id}}')">
          ATUALIZAR
        </button>   
            </li>
      <li class="list-group-item">
        <button type="button" class="btn btn-primary" onclick="deleteMovie('{{movie.id}}')">
          DELETAR
        </button>
      </li>

      {%endif%}

    </ul>

    <div class="card-body">
      <!-- <a href="#" class="card-link">Gostei</a><br>
    <a href="#" class="card-link">Não gostei </a> -->
    </div>
  </div>
  </section>

  {%endfor%}

  <div>
    <!-- Botão para acionar modal -->
    {%if user.is_superuser%}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo">
      ADICIONAR FILME
    </button>
    {%endif%}
    <!-- Modal -->
    <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">CADASTRO DE NOVO FILME</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="form" method="POST" onsubmit="validateForm(event, 'form')">
              {% csrf_token %}
              <div class="form-group">
              <label for="fname">Nome:</label><br>
              <input type="text" class="form-control" id="fname" name="fname"><br>
              </div>
              <div class="form-group">
              <label for="fduration">Duração:</label><br>
              <input type="text" class="form-control" id="fduration" name="fduration"><br>
              </div>
              <div class="form-group">
              <label for="fdescription">Descrição:</label><br>
              <input type="text" class="form-control" id="fdescription" name="fdescription"><br>
              </div>
              <div class="form-group">
              <label for="fimage">Imagem:</label><br>
              <input type="file" class="form-control-file" id="fimage" name="fimage"><br>
              </div>
              <button class="btn btn-primary" onclick="addMovie()">CADASTRAR </button>
            </form>

          </div>
          <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary">Salvar mudanças</button>
        </div>  -->
        </div>
      </div>
    </div>

  </div>

  <!-- Modal UPDATE-->
  <div>
    <!-- Botão para acionar modal -->
    <!-- {%if user.is_superuser%}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemploUpdate">
       </button>
    {%endif%} -->
    <!-- Modal -->
    <div class="modal fade" id="modalExemploUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">ATUALIZAR FILME</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="formUpdate" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
              <label for="name">Nome:</label><br>
              <input type="text" class="form-control" id="name" name="name" ><br>
              </div>
              <div class="form-group">
              <label for="duration">Duração:</label><br>
              <input type="text" class="form-control" id="duration" name="duration"><br>
              </div>
              <div class="form-group">
                              <label for="description">Descrição:</label><br>
              <input type="text" class="form-control" id="description" name="description"><br>
              </div>
              <div class="form-group">
              <label for="image">Imagem:</label><br>
              <input type="file" class="form-control-file" id="image" name="image"><br>
              </div>
              <button class="btn btn-primary" type="submit">SALVAR</button>
                          
            </form>

          </div>
          <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary">Salvar mudanças</button>
        </div>  -->
        </div>
      </div>
    </div>

  </div>

   
<script>
  function validateForm(event, formId) {
            // Obtém o formulário pelo ID
            const form = document.getElementById(formId);
            
            // Obtém todos os campos do formulário
            const campos = form.querySelectorAll('input, textarea');
            
            // Verifica se algum campo está vazio
            for (let campo of campos) {
                if (campo.value.trim() === '') {
                    alert('Por favor, preencha todos os campos.');
                    event.preventDefault(); // Impede o envio do formulário
                    return;
                }
            }
        }
</script> 

  <script src="{% static 'js/index.js' %}"></script>     
 
  
 <!--Scripts do Bootstrap -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script> 
   -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>