<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VISUALIZAÇÃO</title>
</head>
<body>
    <h1>FILME </h1>
 
      {{ movie }}
      <div>
      {% for element in list_genre_movie %} <BR>
          {{element.genre}}
      {% endfor %}
  
      <form id="form" action="/addGenreMovie/{{movie.id}}/" method="POST">
          {% csrf_token %}
          <select name="fgenre" id="genero">
              {%for genre in genres %}
                  <option value="{{genre.id}}">{{genre}}</option>
              {%endfor%}
            </select>
          <input class="btn btn-primary" type="submit" value="Adicionar">
      </form> 
      </div>

      <br>
      <div>
        <h2> Disponível em: </h2>
        {% for element in list_streaming_movie %} <BR>
            {{element.platform}}
        {% endfor %}
    
        <form id="form" action="/addMovieStreaming/{{movie.id}}/" method="POST">
            {% csrf_token %}
            <select name="platform" id="platform">
                {%for platform in platforms %}
                    <option value="{{platform.id}}">{{platform}}</option>
                {%endfor%}
              </select>
            <input class="btn btn-primary" type="submit" value="Adicionar">
        </form> 
        </div>
  
</body>
</html>